---
# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 4
# Must be 80 characters or less!
ColumnLimit: 160
# spaces, not tabs!
UseTab: Never
TabWidth: 4
# Curly braces on new line
BreakBeforeBraces: Stroustrup
# if (x) doStuff()  is not allowed, bad style
AllowShortIfStatementsOnASingleLine: false
# no one liners functions
AllowShortFunctionsOnASingleLine: Empty
# functions spacing
SeparateDefinitionBlocks: Always
AlignTrailingComments: true
SpacesBeforeTrailingComments: 3
# change the next line to All for Alistair's textbook style
AlignConsecutiveMacros: Consecutive
# use \n instead of \r\n
UseCRLF: false
# one enum per line
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
